<a href="https://colab.research.google.com/github/victor-huallpa/Alura-Latam-One-Oracle-Education/blob/main/desafio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Escribe un código que lee la lista siguiente y realiza:

In [3]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

# 1. Leer el tamaño de la lista

In [2]:
print(len(lista))

17

# 2. Leer el valor máximo y mínimo

In [4]:
print(max(lista))
print(min(lista))

99
11

# 3. Calcular la suma de los valores de la lista

In [5]:
print(sum(lista))

743

# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

In [7]:
msj = f"el tamanio de la lista {len(lista)}, su maximo valor es {max(lista)}, su minimo valor es {min(lista)} y la suma de sus elemetos es {sum(lista)}"

In [8]:
print(msj)

el tamanio de la lista 17, su maximo valor es 99, su minimo valor es 11 y la suma de sus elemetos es 743

#tabla de multiplicar del 1 al 10

In [10]:
def mulitplicar(tabla:int):
  for i in range(1, 11):
    print (f"{tabla} x {i} = {tabla*i}")

tabla_mulitplicar = int(input("Ingrese la tabla que desea ver: "))
mulitplicar(tabla_mulitplicar)

Ingrese la tabla que desea ver: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

In [11]:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

In [25]:
new_list = list(filter(lambda x: x%3 == 0, lista))#usanod filter puedes filtar los datos que deseas en la nueva lista
new_list2 = [x for x in lista if x%3 == 0]
new_list
print(new_list2)

[24, 99]

4 - Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

In [26]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
new_list = list(map(lambda x: x**2, lista))
# new_list

new_list2 = list(map(lambda x: pow(x,2),lista))
new_list2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5 - Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas ingresadas por los jueces.

In [29]:
list_punt = []
list_part = []
num_event = int(input("Ingrese la cantida d de eventos que se realizaron: "))

for i in range(1, 6):
  for j in range(1, num_event+1):
    nota = float(input(f"ingrese la puntuacion del paricipante {i} en la competicion {j}: "))
    list_part.append(nota)
  list_punt.append(sum(list_part)/num_event)
  list_part = []

print([round(x, 2) for x in list_punt])

Ingrese la cantida d de eventos que se realizaron: 3
ingrese la puntuacion del paricipante 1 en la competicion 19.0
ingrese la puntuacion del paricipante 1 en la competicion 24.0
ingrese la puntuacion del paricipante 1 en la competicion 35.5
ingrese la puntuacion del paricipante 2 en la competicion 17
ingrese la puntuacion del paricipante 2 en la competicion 27.6
ingrese la puntuacion del paricipante 2 en la competicion 38.7
ingrese la puntuacion del paricipante 3 en la competicion 14.4
ingrese la puntuacion del paricipante 3 en la competicion 25
ingrese la puntuacion del paricipante 3 en la competicion 37
ingrese la puntuacion del paricipante 4 en la competicion 13.5
ingrese la puntuacion del paricipante 4 en la competicion 28
ingrese la puntuacion del paricipante 4 en la competicion 39
ingrese la puntuacion del paricipante 5 en la competicion 110
ingrese la puntuacion del paricipante 5 en la competicion 25.5
ingrese la puntuacion del paricipante 5 en la competicion 36.1
[18.5, 23.299999999999997, 16.4, 20.5, 21.6]

    6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:

In [32]:
def promedio(notas:list)->tuple:
  resultado = sum(notas)/len(notas)
  if resultado >= 7:
    situacion = "Aprovado(a)"
  else:
    situacion = "Reprovado(a)"

  return (resultado, situacion, min(notas), max(notas))

datos = promedio([5.5, 6.7, 8.0, 7.5])

print(f"El estudiante pbtuvo una media de {datos[0]}, con la mayor nota de {datos[3]} puntos y la menor nota de {datos[2]} y tiene situacion de {datos[1]}")

El estudiante pbtuvo una media de 6.925, con la mayor nota de 8.0 puntos y la menor nota de 5.5 y tiene situacion de Reprovado(a)

7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:

In [41]:
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()


nombre_apellidos = list(map(lambda x, y: x.capitalize() + " " + y.capitalize(), nombres, apellidos))
nombre_apellidos

['Juan Silva', 'Maria Sosa', 'José Tavares']

8 - Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó. En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

In [49]:
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]

# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"

def calcula_puntos(goles_marcados:list, goles_recibidos:list)->tuple:
  puntos = []
  for i in range(0, len(goles_marcados)):
    if goles_marcados[i] > goles_recibidos[i]:
      puntos.append(3)
    elif goles_marcados[i] < goles_recibidos[i]:
      puntos.append(0)
    else :
      puntos.append(1)

  total_puntos = sum(puntos)
  rendimiento = (total_puntos*100)/(len(goles_marcados)*3)

  return (total_puntos, round(rendimiento,1))

datos = calcula_puntos(goles_marcados, goles_recibidos)

print(f"Los puntos del equipo es de {datos[0]} de 15, lo cual les da un rendieminto del {datos[1]}%")

Los puntos del equipo es de 7 de 15, lo cual les da un rendieminto del 46.7%

9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300], respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km, crea tres funciones: la primera función calcula los gastos de hotel (gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y la tercera los gastos de paseo y alimentación (gasto_paseo).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.

In [53]:
#ciudades
ciudaddes = ['Salvador', 'Fortaleza', 'Natal' , 'Aracaju']
#km desde racife asta salvador, fortalza, natal y aracaju
distancia = [850, 800, 300, 550]

#gastos alimentos y paseos en cada una de las ciudades
gastos = [200, 400, 250, 300]

#costo de gasolina por litro
gasolina = 5.0

#recorrido en auto por litro de gasolina
auto = 14.0

#costo hotel por noche
hotel = 150

def gasto_hotel(dias:int)->float:
  coste_total = dias*hotel
  return coste_total

def gasto_gasolina(km_ciudad:int)->float:
   coste_total = (km_ciudad/auto)*gasolina
   return round(coste_total,2)

def gasto_paseo(dias:int,ciudad)->float:
  coste_total = dias*ciudad
  return coste_total

costo_total = gasto_hotel(3) + gasto_gasolina(distancia[0]) + gasto_paseo(3,gastos[0])

print(f"Con base en los gastos definidos, un viaje de 3 días a {ciudaddes[0]} desde Recife costaría {costo_total} reales.")

Con base en los gastos definidos, un viaje de 3 días a Salvador desde Recife costaría 1353.57 reales.

In [58]:
frase = "Aprender Python, aquí, en Alura es muy bueno"
frase = frase.replace(",", "").replace(".", "").replace("?", "")
list_frase = frase.split()
new_list = list(filter(lambda x: len(x)>=5,list_frase))
new_list

['Aprender', 'Python', 'Alura', 'bueno']